main {
    position: relative; /* Untuk memastikan pseudo-element diposisikan relatif terhadap main */
    height: 100vh;
    overflow: hidden; /* Untuk mencegah konten meluap di luar main */
  }
  
  main::before {
    content: "";
    background-image: url('../img/bg_wa.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Atur opacity sesuai kebutuhan */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Pastikan pseudo-element berada di belakang konten main */
  }
  