.css-13cymwt-control{
    font-family:Poppins;
    padding:2px;
    background-color: rgb(249 250 251);
}

.css-b62m3t-container{
    border-radius: 0.75rem;
    background-color: rgb(249 250 251);
}

.css-1jqq78o-placeholder{
    font-size:14px;
}

.css-13cymwt-control{
    background-color: rgb(249 250 251);
}

.css-1dimb5e-singleValue{
    font-size:14px;
}